{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/profile_style.css" rel="stylesheet">
    <title>CityService</title>
</head>

<body>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/profile.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-left cs-h1"><a class="cs-a" href={% url 'companies' %}>CityService</a></h1>
                    {% comment %} <h1 class="text-left cs-h1"><a class="cs-a" href=>CityService</a></h1> {% endcomment %}

                    {% comment %} <h5 class="text-left cs-h5 cs-header-text">Найдqwdqwwdи практику своей мечты!</h5> {% endcomment %}
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cs-profile-div">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                                <br>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <form method="PUT" action="">
                        <label class="cs-label">Имя пользователя:</label>
                        {{ account.username }}
                        {% comment %} <br>s {% endcomment %}
                        {% comment %} <br> {% endcomment %}
                        {% comment %} <label>Почта:</label> {% endcomment %}
                        <br>
                        <form action={% url 'change_email' %} method="POST">
                            <label>Почта</label>
                            {% csrf_token %}
                            <input placeholder="X@mail.ru" class="cs-input-base" type="text" name="email" value={{ info.email }}>

                            {% comment %} <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="X@mail.ru" class="cs-input-base" type="text" name="email" value={{ info.email }}> {% endcomment %}
                            {% comment %} <input type="submit" id="button_rank" class="" hidden=true> {% endcomment %}
                        </form>
                    </form>
                    {% comment %} <br> {% endcomment %}
                    {% if account.group.id == 1 %}
                        <label>Имя</label>
                        {{ info.first_name }}
                        <br>
                        <br>
                        <label>Фамилия</label>
                        {{ info.last_name }}
                        <br>
                    {% else %}
                        {% comment %} <label>Имя компании</label> {% endcomment %}
                        <form action={% url 'change_name' %} method="POST">
                            <label>Имя компании</label>
                            {% csrf_token %}
                            <input class="cs-input-base" type="text" name="name" value={{ info.name }}>
                            {% comment %} <input type="submit" id="button_rank" class="" hidden=true> {% endcomment %}
                        </form>
                        {% comment %} <br> {% endcomment %}
                        {% comment %} <label>Форма собственности</label> {% endcomment %}
                        <form action={% url 'change_ownership' %} method="POST">
                            <label>Форма собственности</label>
                            {% csrf_token %}
                            <input class="cs-input-base" type="text" name="type_of_ownership" value={{ info.type_of_ownership }}>
                            {% comment %} <input type="submit" id="button_rank" class="" hidden=true> {% endcomment %}
                        </form>
                        {% comment %} <div> {% endcomment %}
                        <form action={% url 'change_rank' %} method="POST">
                            <label>Разряд</label>
                            {% csrf_token %}
                            <input  class="cs-input-base" type="text" name="rank" value={{ info.rank }}>
                            {% comment %} <input type="submit" id="button_rank" class="" hidden=true> {% endcomment %}
                        </form>
                        {% comment %} </div> {% endcomment %}

                        {% comment %} <form>
                            <label>Разряд</label>
                            <input class="cs-input" type="text" name="rank" value={{ info.rank }}>
                        </form> {% endcomment %}
                        {% comment %} {{ info.rank }} {% endcomment %}
                        {% comment %} <br>
                        <br>
                        <label>Адрес</label>
                        {{ info.address }}
                        <br> {% endcomment %}
                        {% comment %} <br> {% endcomment %}
                        <form action={% url 'change_address' %} method="POST">
                            <label>Адрес</label>
                            {% csrf_token %}
                            <input  class="cs-input-base" type="text" name="address" value={{ info.address }}>
                            {% comment %} <input type="submit" id="button_rank" class="" hidden=true> {% endcomment %}
                        </form>
                        <label>Телефоны</label>
                        {% if phones %}
                            {% for phone in phones %}
                                <div>
                                    {% comment %} <span class="tochka"> • </span> {% endcomment %}
                                    <form method="POST" action={% url 'delete_phone' %}>
                                        {% csrf_token %}
                                        {{ phone.phone }}
                                        <input type="hidden" name='pk' value={{phone.pk}}>
                                        <input type="hidden" name='phone' value={{phone.phone}}>
                                        <input type="hidden" name='company_id' value={{phone.company.id}}>
                                        <input type="submit" class="cs-button-delete" value="-">
                                    </form>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <input type="submit" id="add_panel_knopka" class="cs-button-delete" value="Добавить номер" onclick=add_phone_panel(0)>
                        <br>
                        <div hidden=true id="add_phone_panel">                        
                            <form method="POST" action={% url 'add_phone'%}>
                                {% csrf_token %}
                                {{ formPhone.phone}}
                                <b></b>
                                <br>
                                <input type="submit" class="cs-button" value="Добавить">
                            </form>
                            <br>
                            <br>
                            {% comment %} <input type="submit" class="cs-button-delete" value="Скрыть" onclick=add_phone_panel(1)> {% endcomment %}
                        </div>
                        <br>
                        <label>Специализации</label>
                        <br>
                        {% if info.specialization %}
                            {% for spec in info.specialization %}
                                {{ spec }}
                                <br>
                            {% endfor %}
                            
                        {% endif %}
                        
                        <br>
                        <label>Услуги</label>
                        <br>
                        {% if info.services %}
                            {% comment %} {% for service in info.services %}
                                {{ service }}
                                <br>
                            {% endfor %} {% endcomment %}
                        {% endif %}
                        <br>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</body>

</html>