{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/profile_style.css" rel="stylesheet">
    <title>CityService</title>
</head>

<body>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/profile.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-left cs-h1"><a class="cs-a" href={% url 'companies' %}>CityService</a></h1>
                    {% comment %} <h1 class="text-left cs-h1"><a class="cs-a" href=>CityService</a></h1> {% endcomment %}

                    {% comment %} <h5 class="text-left cs-h5 cs-header-text">Найдqwdqwwdи практику своей мечты!</h5> {% endcomment %}
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cs-profile-div">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                                <br>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <div class="panel">
                        <label>Имя пользователя:</label>
                        {{ account.username }}
                    <div>
                    <div class="panel">
                        <label>Почта:</label>           
                        {% if account.email %}
                                {{ account.email }}                     
                        {% else %}
                            <label>Отсутствует</label>
                            {% comment %} <br> {% endcomment %}
                        {% endif %}
                    </div>
                    {% if account.group.id == 1 %}
                        <div class="panel">
                            <form action={% url 'change_first_name' %} method="POST">
                                <label>Имя:</label>
                                {% csrf_token %}
                                <input placeholder="Имя" class="cs-input-base" type="text" name="first_name" value="{{ info.first_name }}">
                            </form>
                        </div>
                        <div class="panel">
                            <form action={% url 'change_last_name' %} method="POST">
                                <label>Фамилия:</label>
                                {% csrf_token %}
                                <input placeholder="Фамилия" class="cs-input-base" type="text" name="last_name" value="{{ info.last_name }}">
                            </form>
                        </div>
                    {% else %}
                        <div class="panel">
                            <form action={% url 'change_name' %} method="POST">
                                <label>Имя компании:</label>
                                {% csrf_token %}
                                <input placeholder="Имя компании" class="cs-input-base" type="text" name="name" value="{{ info.name }}">
                            </form>
                        </div>
                        <div class="panel">
                            <form action={% url 'change_ownership' %} method="POST">
                                <label>Форма собственности:</label>
                                {% csrf_token %}
                                <input placeholder="Форма собственности" class="cs-input-base" type="text" name="type_of_ownership" value="{{ info.type_of_ownership }}">
                            </form>
                        </div>
                        <div class="panel">
                            <form action={% url 'change_rank' %} method="POST">
                                <label>Разряд:</label>
                                {% csrf_token %}
                                <input placeholder="Разряд" class="cs-input-base" type="text" name="rank" value="{{ info.rank }}">
                            </form>
                        </div>
                        <div class="panel">
                            <form action={% url 'change_address' %} method="POST">
                                <label>Адрес:</label>
                                {% csrf_token %}
                                <input placeholder="Адрес" class="cs-input-base" type="text" name="address" value="{{ info.address }}">
                            </form>
                        </div>
                        <div class="panel">
                            <label>Телефоны:</label>
                            {% if phones %}
                                {% for phone in phones %}
                                    <div>
                                        <form method="POST" action={% url 'delete_phone' %}>
                                            {% csrf_token %}
                                            <span class="tochka"> • </span> {{ phone.phone }}
                                            <input type="hidden" name='pk' value={{phone.pk}}>
                                            <input type="hidden" name='phone' value={{phone.phone}}>
                                            <input type="hidden" name='company_id' value={{phone.company.id}}>
                                            <input type="submit" class="cs-button-delete" value="-">
                                        </form>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input type="submit" id="add_panel_knopka" class="cs-button-delete" value="Добавить номер" onclick=add_phone_panel(0)>
                            <br>
                            <div hidden=true id="add_phone_panel">                        
                                <form method="POST" action={% url 'add_phone'%}>
                                    {% csrf_token %}
                                    {{ formPhone.phone}}
                                    <br>
                                    <input type="submit" class="cs-button" value="Добавить">
                                </form>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="panel">
                            <label>Услуги:</label>
                            {% if services %}
                                {% for service in services %}
                                <div>
                                    <form method="POST" action={% url 'delete_service' %}>
                                        {% csrf_token %}
                                        <span class="tochka"> • </span> {{ service.name }}
                                        <input type="hidden" name='pk' value={{service.pk}}>
                                        <input type="hidden" name='name' value={{service.name}}>
                                        <input type="submit" class="cs-button-delete" value="-">
                                    </form>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <input type="submit" id="add_panel_knopka_service" class="cs-button-delete" value="Добавить услугу" onclick=add_service_panel(0)>
                            <br>
                            <div hidden=true id="add_service_panel">                        
                                <form method="POST" action={% url 'add_service'%}>
                                    {% csrf_token %}
                                    <select id="select" onclick="select_service()">
                                        {% for service in allServices%}
                                            <option> {{ service.name }} </option>
                                        {% endfor %}
                                    </select>
                                    <input hidden name="name" id="service_input" value="">
                                    {% comment %} {{ formService.name}} {% endcomment %}
                                    <br>
                                    <input type="submit" class="cs-button" value="Добавить">
                                </form>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="panel">
                            <form action={% url 'change_description' %} method="POST" id="description_form">
                                <label>Описание компании:</label>
                                <br>
                                {% csrf_token %}
                                <textarea form="description_form" placeholder="Описание компании" class="cs-input-base-description" type="text" name="description">{{info.description}}</textarea>
                                <br>
                                <input type="submit" class="cs-button-description" value="Сохранить">
                                {% comment %} <input placeholder="Описание компании" class="cs-input-base-description" type="text" name="description" value="{{ info.description }}"> {% endcomment %}
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</body>

</html>