{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/regist.css" rel="stylesheet">
    <title>CityService</title>
</head>

<body>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/index.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-left cs-h1"><a class="cs-a" href={% url 'companies' %}>CityService</a></h1>
                    {% comment %} <h1 class="text-left cs-h1"><a class="cs-a" href="#">CityService</a></h1> {% endcomment %}

                    {% comment %} <h5 class="text-left cs-h5 cs-header-text">Найдqwdqwwdи практику своей мечты!</h5> {% endcomment %}
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col cs-form">
                <div style="color: red;">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                                <br>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <form method="post" action={% url 'account_registration' %}>
                        {% csrf_token %}
                        {{ form.username }}
                        <br>
                        {{ form.email }}
                        <br>
                        {{ form.password1 }}
                        <br>
                        {{ form.password2 }}
                        <br>
                        <br>
                        {{ form.choice }}
                        <br>
                        <input type="submit" class="cs-button"></input>
                        <br>
                        <a class="cs-a cs-voiti" href={% url 'account_login' %}>Уже есть аккаунт?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>