<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>CityService</title>
        <style type="text/css">
                @page { size: A4; margin: 1cm; }
                @font-face { font-family: Arial; src: url(static/arial/Times_New_Roman.ttf); }
        </style>
    </head>
    <body>
        <div class="container ">
            <div class="row">
                <div class="col-11">
                    <h1 class="text-left cs-h1">CityService</h1>
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <br>
    <div class="container">
        <div>
            {% if specs %}
                <label>Специализации:</label>

            {% endif %}
        </div>
        <div>
            {% if services %}
                <label>Услуги:</label>

            {% endif %}
        </div>  
        <div class="row">
            <div class="col-9 cs-spezi">
                <div class="cs-spezi_list">
                    <div class="container">
                        {% for company in companies %}
                            <label style="color: black;">{{ company.name }}</label>
                            <label style="color: black;">{{ company.address }}</label>
                            <br>
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>