{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/company_style.css" rel=stylesheet>
    <title>CityService</title>
</head>

<body>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src='/static/index.js'></script>
    <script>
        function _pdf()
        {
            var pdf_companies = '{{pdf_companies|escapejs}}';
            var pdf_phones = '{{pdf_phones|escapejs}}';
            document.getElementById('pdf_companies').value = pdf_companies;
            document.getElementById('pdf_phones').value = pdf_phones;
            console.log(pdf_companies);
            console.log(pdf_phones);
        }
        _pdf();
    </script>
    {% comment %} {{ json_companies|json_script }} {% endcomment %}
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-11">
                    <h1 class="text-left cs-h1"><a class="cs-a" href={% url 'companies' %}>CityService</a></h1>
                </div>
                <div class="col-1">
                    {% if request.user.is_authenticated %}
                        <a href={%url 'account_profile'%} class="cs-a-registr">Профиль</a>   
                        <br>                     
                        <a href={% url 'account_logout'%} class="cs-a-registr">Выйти</a>                        
                    {% else %}
                        <a href={% url 'account_login'%} class="cs-a-registr">Войти</a>
                        <br>
                        <a href={% url 'account_registration'%} class="cs-a-registr">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">

    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3 cs-panel">
                {{ str_companies }}
                {% comment %} <button  onclick="_pdf()" >ADS</button> {% endcomment %}
                <form class="cs-form" action={% url 'companies' %} method="POST">
                    {% csrf_token %}
                        <input placeholder="Поиск" class="cs-input" name="search">
                    <input type="submit" class="cs-button" value="Найти">
                {% comment %} </form> {% endcomment %}
                <div class="spez-name">Специализации</div>
                <div class="spez">
                        {% comment %} <form method="POST" action={% url 'companies' %}> {% endcomment %}
                            <input name="specs_choose" hidden type="text" value='{{specs_choose}}' id="checked_spec">
                            {% comment %} {% csrf_token %} {% endcomment %}
                            {% for spec in specs %}
                                <div class="">
                                        <input onclick="spec('{{ spec.name }}')" id='spec_{{spec.name}}' type="checkbox">
                                        <label id='label_{{spec.name}}' class="cs-label" for='spec_{{spec.name}}' onchange="this.form.submit()">{{ spec.name }}</label>
                                </div>
                            {% endfor %}
                </div>
                {% if services %}
                    <div class="spez-name">Услуги</div>
                {% endif %}
                <div class="spez">
                        <input name='services_choose' hidden type="text" value='{{services_choose}}' id='checked_services'>
                        {% for service in services %}
                            <div>
                                <input onclick="service('{{service.name}}')" type="checkbox" id='service_{{service.name}}'>
                                <label id='label_{{service.name}}' class="cs-label" for='service_{{service.name}}'>{{ service.name }}</label>                                
                            </div>
                        {% endfor %}
                        {% comment %} <button type="submit" class="cs-button">Найти</button> {% endcomment %}

                    </form>
                </div>
                {% comment %} <br> {% endcomment %}
                <form class="cs-form" action={% url 'create_pdf' %} method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name="search" value={{ search }}>
                    <input hidden type="text" name="specs_choose" value={{ specs_choose }}>
                    <input hidden type="text" name="services_choose" value={{ services_choose }}>
                    <input id="pdf_companies" hidden type="text" name="companies" value={{ companies }}>
                    <input id="pdf_phones" hidden type="text" name="phones" value={{ phones }}>
                    <input type="submit" style="margin-top: 5px;" class="cs-button" onclick="_pdf()" value="PDF">
                </form>
            </div>

            <div class="col-9 cs-spezi">
                <div class="cs-spezi_list">
                    <div class="container">
                        {% if not companies %}
                        <label>Ничего не найдено</label>
                        {% endif %}
                        {% for company in companies %}
                        <div class="row">
                            <div class="column-10">
                                <div class="cs-spez">
                                    <a class="cs-vakansiya-ssilka" href="#">
                                        <span class="cs-vakansiya-name">{{company.name}}</span>
                                    </a>
                                    <br>
                                    {% with count=forloop.counter %}
                                        {% for ph in phones %}
                                            {% if forloop.counter == count %}
                                                {% for p in ph%}
                                                    {% comment %} count {% endcomment %}
                                                    {% comment %} forloop.counter {% endcomment %}
                                                    <span class="tochka"> • </span>
                                                    <label class="label-phone">{{ p.phone }}</label>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                    <br>
                                    {% comment %} <span class="cs-vakansiya-spez">{{company.spe}}</span> {% endcomment %}
                                    <span class="tochka"> • </span>
                                    <span class="cs-vakansiya-company">{{company.address}}</span>
                                    <br>
                                    <span class="cs-vakansiya-tegi">
                                        {% comment %} {% for service in company.services %}
                                            <span class="teg">{{service}}</span>
                                            <span class="tochka"> • </span>
                                        {% endfor %} {% endcomment %}
                                    </span>
                                    <br>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
        <footer>

        </footer>

</body>

</html>