{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/company_registration_style.css" rel="stylesheet">
    <title>CityService</title>
</head>

<body>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/index.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-left cs-h1"><a class="cs-a" href="{% url 'company_index'%}">findPractice</a></h1>
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col cs-form">
                <div>
                    <form method="post" action="{% url 'company_registration' %}">
                        {% csrf_token %}
                        <div>
                            {{ form.name }}
                        </div>
                        <div>
                            {{ form.login }}
                        </div>
                        <div>
                            {{ form.password1 }}
                        </div>
                        <div>
                            {{ form.password2 }}
                        </div>
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <input class="cs-input" placeholder="Название компании">
                        <br>
                        <input class="cs-input" placeholder="Имя для входа">
                        <br>
                        <input class="cs-input" placeholder="Пароль">
                        <br>
                        <button type="button" class="cs-button">Создать предприятие</button>
                        <br> {% endcomment %}
                        <input type="submit" class="cs-button"></input>
                        <br>
                        <a class="cs-a cs-voiti" href="{% url 'company_login'%}">Войти</a>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>

</html>