<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel=stylesheet>
    <title>CityService</title>
</head>

<body>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/index.js"></script>

    <!-- Работникам, Работодателям -->
    <!-- Создать резюме, войти, регистрация -->
    <!-- footer - фигня снизу -->
    <header>
        <div class="container ">
            <div class="row">
                <div class="col-11">
                    {% comment %} <h1 class="text-left fp-h1">CityService</h1> {% endcomment %}
                    <h1 class="text-left cs-ww">CityService</h1>

                    <h5 class="text-left fp-h5 cs-header-text">Найди практику своей мечты!</h5>
                </div>
                <div class="col-1 cs-registration">
                    {% comment %} Регистрация и вход пользователя {% endcomment %}
                    <a href="./voiti.html" class="cs-a-registr">Войти</a>
                    <a href="./regist.html" class="cs-a-registr">Регистрация</a>
                </div>
            </div>
        </div>
        <h1></h1>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <!-- <div class="col col-xl-12">  -->
            <!-- col-md-6 col-xs-3 -->
            <!-- <div class="col"> -->
            {% comment %} <div class="col-12 cs-users col-md-9 col-sm-12 col-lg-6"> {% endcomment %}
                {% comment %} <a class="cs-a-student">Студентам</a> {% endcomment %}
                {% comment %} <a href="./forRabotodatel.html" class="cs-a-company">Работодателям</a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            <div class="col-12 cs-input-panel ">
                <!--  col-md-9 col-sm-12 col-lg-6 ????-->
                <form class="cs-form" action="#" method="get">
                    <!-- <div class="mb3"> -->
                    <input placeholder="Услуга" class="cs-input">
                    <!-- <div class="cs-button-div"> -->
                    <button class="cs-button">
                        <!-- <div class="cs-span"> -->
                        <span class="cs-span">Найти</span>
                        <!-- </div> -->
                    </button>
                    <!-- </div> -->

                    <!-- </div> -->
                </form>
                <!-- </div> -->
                <!-- </div> -->

            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3 cs-panel">
                <div class="spez-name">Специализация</div>
                <div class="spez">
                    <!-- Выбранные регионы -->
                    <label id="vibrannie_spez" hidden="true" class="cs-vibrannie-spez-label"></label>
                    <div class="spez-cut" id="spez_cut_list">
                        <ul class="cs-spez-list">
                            <li>
                                <label class="cs-label" onclick="addRegion('Москва')">
                                    <input type="checkbox" class="cs-checkbox">
                                    <span>Ремонт</span>
                                </label>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="spez_all" id="spez_all_list" hidden="true">
                        <!-- Добавить вызов функции addRegion -->
                        <ul class="cs-spez-list">
                            
                        </ul>
                    </div>
                    <button type="button" class="cs-button-list" onclick="getspezAllList()"
                        id="button_spez">Показать все</button>
                </div>
            </div>

            <div class="col-9 cs-vakansii">
                <div class="cs-vakansii_list">
                    <div class="container">
                        <div class="row">
                            <div class="column-10">
                                <div class="cs-vakansiya">
                                    <a class="cs-vakansiya-ssilka" href="#">
                                        <span class="cs-vakansiya-name">Программист</span>
                                    </a>

                                    <br>
                                    <span class="cs-vakansiya-spez">Москва</span>
                                    <span class="tochka"> • </span>
                                    <span class="cs-vakansiya-company">Яндекс</span>
                                    <br>
                                    <span class="cs-vakansiya-tegi">
                                        <span class="teg">тег 1</span>
                                        <span class="tochka"> • </span>
                                        <span class="teg">тег 2</span>
                                        <span class="tochka"> • </span>
                                        <span class="teg">тег 3</span>
                                    </span>
                                    <br>
                                    <button type="button" class="cs-button-otklik">Откликнуться</button>
                                </div>
                            </div>
                            <div class="column-2">
                            </div>
                        </div>

                        <div class="row">
                            <div class="column-10">
                                <div class="cs-vakansiya">
                                    <a class="cs-vakansiya-ssilka" href="#">
                                        <span class="cs-vakansiya-name">Инженер</span>
                                    </a>
                                    <br>
                                    <span class="cs-vakansiya-spez">Санкт-Петербург</span>
                                    <span class="tochka"> • </span>
                                    <span class="cs-vakansiya-company">ООО "Что-то"</span>
                                    <br>
                                    <span class="cs-vakansiya-tegi">
                                        <span class="teg">тег 1</span>
                                        <span class="tochka"> • </span>
                                        <span class="teg">тег 2</span>
                                        <span class="tochka"> • </span>
                                        <span class="teg">тег 3</span>
                                    </span>
                                    <br>
                                    <button type="button" class="cs-button-otklik">Откликнуться</button>

                                </div>
                            </div>
                            <div class="column-2">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <footer>

        </footer>

</body>

</html>